* {
    margin: 0;
    padding: 0;
    font-family: 'League Gothic';
}

.main_img {
    background: url("assets/coffeImg.png") no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 'header'
                         'title_contains'
                         'informations'
}


/* Cabeçalho */

header{
    grid-area: header;
    background-color: #09090966;
    color: white;
    padding: 4vh;

    display: flex;
        align-items: center;
        justify-content: space-between;
}

header a {
    padding: 1vw;
    font-size: 25px; 
    color: white;
    text-decoration: none;
}

.logo_title {
    color: white;
    font-size: 35px;
}


/* Título */

.title_contains {
    grid-area: title_contains;
    padding-left: 35vw;
    display: flex;
        flex-direction: row;
        justify-content: center; 
        align-content: center; 
        flex-wrap: wrap;  
}

.title {
    font-family: 'League Gothic';
    font-size: 22vh;
    color: #fff;
}

.coffe_icon {
    height: 25vh;
    width: 25vh;
    padding-top: 5vh;
}


/* Informações - Senac */

.informations {
    grid-area: informations;
    padding: 0vw 5vw 0vw 5vw;
    display: flex;
    justify-content: end;
}

.SenacText {
    color: #fff;
    font-size: 24px; 
    text-decoration: none;
}


/* Informações sobre os Palestrantes */

.informacoesPalestrantes {
    width: 100%;
    margin-top: 5vh;
    display: flex;
        flex-direction: row;
}

.palestrantesSection{
    width: 70%;
    display: flex;
        flex-direction: column;
}

.palestrantesSection div{
    display: flex;
        flex-direction: row;
        justify-content: center; 
        align-content: center; 
        flex-wrap: wrap;  
}

.person {
    width: 15%;
    padding: 2vw;
    display: flex;
        align-items: center;  
        flex-direction: column;
}

.person img {
    width: 10vw;
    height: 10vw;
    border-radius: 100px;
}

.person label {
    font-family: 'arial';
    font-size: 15px;
    padding-top: 1vh;
}

.informacoesEmSenac {
    width: 20%;
    padding-top: 4vh;
}

h2 {
    color: #7C5039;
    font-size: 40px;
}

.text {
    padding-top: 3vh;
    font-family: 'arial';
}

.text2 {
    font-family: 'arial';
}



/* Inscrição */

.subscribe_text {
    padding-top: 10vh;
    color: #7C5039;
    font-size: 16px;
    font-family: 'arial';
    font-weight: 600;
    text-align: center;
    
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4vh;
}


/* Botão inscreva-se*/

.subscribe_button {
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #7c5039d8;
  padding: 0.7em 8em;
  font-size: 20px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #7c5039d8;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.subscribe_button:active {
  color: #7C5039;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;

}

.subscribe_button:before {
  content: "";
  position: absolute;

  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.subscribe_button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #7c5039d8;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.subscribe_button:hover {
  color: #ffffff;
  border: 1px solid #7c5039d8;
}

.subscribe_button:hover:before {
  top: -35%;
  background-color: #7c5039d8;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.subscribe_button:hover:after {
  top: -45%;
  background-color: #7c5039d8;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


/* Footer */

footer {
    margin-top: 10vh;
    padding: 3vh;
    background-color: #8c6a5a;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 15vw;
}

footer p {
    color: #ffffff;
    font-size: 16px;
    font-family: 'arial';
    padding: 0.5vh;
}




.container {
    display: none;
    padding: 6vh;
    padding-left: 8vw;
    padding-right: 10vw;
    margin-top: 6vh;
    text-align: justify;
    text-indent: 3vw;
    border-top: 1px solid #8c6a5a;
    border-bottom: 1px solid #8c6a5a;
}

.saibaMais {
    float: right;

    letter-spacing: .1em;
    font-size: 16px;

    margin-top: 8vh;
    padding: .5vw;
    padding-left: 1vw;
    padding-right: 1vw;

    border: 0px;
    background-color: #8c6a5a;
    color: white;
    border-radius: 10px;
}










::-webkit-scrollbar {
    width: .5vw;
    height: 2vh;
}
  
::-webkit-scrollbar-thumb {
    background: #8c6a5a;
}
  
::-webkit-scrollbar-track {
    background: rgba(248, 246, 246, 0.2);
}