* {
    margin: 0;
    padding: 0;
    font-family: 'League Gothic';
}

.main_img {
    
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 'header'
                         'sectionSubscribe'
}


/* Cabeçalho */

header{
    background: url("assets/coffeImg.png") no-repeat;
    
    background-size: cover;

    grid-area: header;
    color: white;

}


header div{
    background-color: #09090966;
    height: 10vh;
    padding-left: 4vh;
    padding-right: 4vh;

    display: flex;
        align-items: center;
        justify-content: space-between;
}

header a {
    padding: 1vw;
    font-size: 25px; 
    color: white;
    text-decoration: none;
}

.logo_title {
    color: white;
    font-size: 35px;
}

.text {
    padding-top: 3vh;
    font-family: 'arial';
}

/* Informações */

.subscribeInforms {
    font-family: 'arial';
    width: 30vw;
    margin-left: 0px;
    text-align: justify;
    margin-right: 7vw;
    text-indent: 3vw;
}

/* Form. de Inscrição */

.sectionSubscribe{
    grid-area: sectionSubscribe;
    display: flex;
    flex-direction: row;
    justify-content: center; /* ALinhar no centro - HORIZONTAL */
    align-content: center; /* Alinhar no centro - VERTICAL */
    flex-wrap: wrap;  /* Alinhar no centro - VERTICAL */
}


.subscribe {
    position: relative;
    height: 40vh;
    width: 25vw;
    padding: 20px;
    background-color: #FFF;
    border-radius: 4px;
    color: #333;
    box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}
  
.subscribe:after {
    position: absolute;
    content: "";
    right: -10px;
    bottom: 18px;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}
  
.paragrafo {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 2vh;
}
  
.input {
    margin-top: 2vh;
    border: none;
    border-bottom: 1px solid #7C5039;
    padding: 10px;
    width: 82%;
    font-size: medium;
    background: transparent;
    transition: all .25s ease;
}
  
.input:focus {
    outline: none;
    border-bottom: 1px solid #0d095e;
}
  
.buton {
    position: absolute;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #7C5039;
    color: #FFF;
    padding: 12px 25px;
    display: inline-block;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium';
    letter-spacing: 3px;
    right: -10px;
    bottom: -20px;
    cursor: pointer;
    transition: all .25s ease;
    box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
}
  
.buton:hover {
    background-color: rgb(133, 77, 39,);
    box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
} 



#turma:first-child {
    display: none;
}