* {
    margin: 0;
    padding: 0;
    font-family: 'League Gothic';
}


/* Imagem de fundo e Título */

.main_img {
    background: url("assets/coffeImg.png") no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 'header'
                         'title_contains'
                         'informations'
}

.header{
    grid-area: header;
}

.title_contains {
    grid-area: title_contains;
    padding-left: 35vw;
    display: flex;
        flex-direction: row;
        justify-content: center; 
        align-content: center; 
        flex-wrap: wrap;  
}

.title {
    font-family: 'League Gothic';
    font-size: 22vh;
    color: #fff;
}

.coffe_icon {
    height: 25vh;
    width: 25vh;
    padding-top: 5vh;
}


/* Informações */

.informations {
    grid-area: informations;
    padding: 0vw 5vw 0vw 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.emSenac {
    color: #fff;
    font-size: 24px; 
}



