* {
    margin: 0;
    padding: 0;
}

.main_img {
    background: url("assets/coffeImg.png") no-repeat;
    background-size: cover;
    height: 100vh;
}

.title_contains {
    display: flex;
    height: 100vh;
    padding-left: 35vw;
    flex-direction: row;
    justify-content: center; /* ALinhar no centro - HORIZONTAL */
    align-content: center; /* Alinhar no centro - VERTICAL */
    flex-wrap: wrap;  /* Alinhar no centro - VERTICAL */
}

.title {
    color: #fff;
    font-family: 'League Gothic';
    font-size: 22vh;
    word-wrap: break-word; 
    word-break: break-word;
}

.coffe_icon {
    padding-top: 5vh;
    height: 25vh;
    width: 25vh;
}