* {
    margin: 0;
    padding: 0;
    font-family: 'League Gothic';
}

.main_img {
    background: url("assets/coffeImg.png") no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 'header'
                         'title_contains'
                         'informations'
}


/* Cabeçalho */

.header{
    grid-area: header;
}


/* Título */

.title_contains {
    grid-area: title_contains;
    padding-left: 35vw;
    display: flex;
        flex-direction: row;
        justify-content: center; 
        align-content: center; 
        flex-wrap: wrap;  
}

.title {
    font-family: 'League Gothic';
    font-size: 22vh;
    color: #fff;
}

.coffe_icon {
    height: 25vh;
    width: 25vh;
    padding-top: 5vh;
}


/* Informações - Senac */

.informations {
    grid-area: informations;
    padding: 0vw 5vw 0vw 5vw;
    display: flex;
    justify-content: space-between;
}

.SenacText {
    color: #fff;
    font-size: 24px; 
    text-decoration: none;
}


/* Informações sobre os Palestrantes */

.informacoesPalestrantes {
    width: 100%;
    margin-top: 5vh;
    display: flex;
        flex-direction: row;
}

.palestrantesSection{
    width: 70%;
    display: flex;
        flex-direction: column;
}

.palestrantesSection div{
    display: flex;
        flex-direction: row;
        justify-content: center; 
        align-content: center; 
        flex-wrap: wrap;  
}

.person {
    width: 15%;
    padding: 2vw;
    display: flex;
        align-items: center;  
        flex-direction: column;
}

.person img {
    width: 10vw;
    height: 10vw;
    border-radius: 100px;
}

.person label {
    font-family: 'arial';
    font-size: 16px;
}

.informacoesEmSenac {
    width: 20%;
    padding-top: 4vh;
}

h2 {
    color: #7C5039;
    font-size: 40px;
}

.text {
    padding-top: 3vh;
    font-family: 'arial';
}